@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
    font-family: 'Poppins';
}

/* Section1 - Home */


#logorental {
    position: fixed;
    left: 7%;
    top: 10px;
}

.navright {
    color: blue;
}

.navright:hover {
    color: rgb(40, 40, 165);
}

.offcanvas-end{
    width: 50%;
}

#ImgCar {
    width: 100%;
    height: 100%;
    position: relative;
    top: 12%;
    right: 0;
    bottom: 0;
}

#texthome {
    position: relative;
    left: 5%;
    margin-top: 8%;
    margin-bottom: 15%;
}

/* Section 2 - Our Services */
#imgService {
    width: 75%;
    height: 75%;
}

/* Section 3 - Why Us */
.card {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    background-color: #F1F3FF;
    border-radius: 10px;
}

.card-title {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Section 4 - Testimoni */
#carousel-body{
    height: 100%;
    width: 100%; 
    background-color: #F1F3FF;
    border-radius: 13px;
    position: relative;
    padding-top: 3%;
   
}


/* Section 5 - Sewa Sekarang */
.konten5 {
    width: 100%;
    height: 100%;
    background: #0D28A6;
    border-radius: 13px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}


/* Section 6 - FAQ */
.accordion-collapse{
    background-color: #f4f4fa;
}

/* Footer */
footer {
    left: 0;
    right: 0;
}

@media screen and (max-width : 768px) {

    /* Section 1 */

    .offcanvas-end{
        width: 50%;
    }

    #texthome {
        position: relative;
        left: 2%;
        margin-top: 15%;
        margin-bottom: 17%;
    } 

    #ImgCar {
        position: relative;
        top: 1%;
    }


    /* Section 2 */

    #imgService {
        width: 92%;
        height: 92%;
    }

    #textService {
        font-size: 100%;
        position: relative;
        margin-top: 0%;
        margin-right: 1%;
    }

    .centang {
        font-size: 100%;
        position: relative;
        margin-right: 0%;
    }

    /* Section 3 */
    .textWhyUs {
        text-align: center;
    }

    /* Section 4 - Testimoni */

    #carousel-body{
        height: 100%;
        width: 100%; 
        background-color: #F1F3FF;
        border-radius: 10px;
        position: relative;
        padding-top: 3%;
        margin-left: 2.5%;
    }

    .testitext {
        position: relative;
        text-align: center;
        padding-top: 8%;
        padding-right: 11%;
        padding-left: 11%;
        padding-bottom: 5%;
        font-size: 100%;
    }

    .ratestars {
        position: relative;
        padding-top: 10%;
        align-items: center;
        padding-left: 36.5%;
        padding-right: 10%;
    }

    .testijohn {
        align-items: center;
        position: relative;
        padding-top: 5%;
        align-items: center;
        padding-left: 28%;
        padding-right: 30%;
    }

    /* Section 5 - Sewa Sekarang */
    .konten5 {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    /* Section 6 - FAQ */
    #textFAQ {
        text-align:center;
    }
    
}

@media screen and (min-width : 768px) and (max-width : 1024px) {

    /* Section 1 */

    .offcanvas-end{
        width: 30%;
    }

    #ImgCar {
        position: relative;
        top: 31.3%;
        width: 100%;
        height: 100%;
    }

    /* Section 2 */

    .centang {
        font-size: 90%;
        position: relative;
        margin-right: 0%;
    }

     /* Section 4 - Testimoni */
     #carousel-body{
        height: 100%;
        width: 100%; 
        background-color: #F1F3FF;
        border-radius: 10px;
        position: relative;
        padding-top: 3%;
        margin-left: 1%;
    }

    .testitext {
        position: relative;
        text-align: left;
        padding-top: 1%;
        padding-right: 11%;
        padding-left: 11%;
        padding-bottom: 2%;
        font-size: 100%;
    }

    .ratestars {
        position: relative;
        padding-top: 5%;
        padding-left: 11%;
    }

    .testijohn {
        position: relative;
        padding-top: 45%;
        padding-left: 60%;
    }

    /* Section 5 - Sewa Sekarang */
    .konten5 {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    /* Section 6 - FAQ */
    #textFAQ {
        text-align:left;
    }
}





